@font-face {
    font-family: "Lato light";
    src: url(../fonts/Lato_light.ttf);
}

@font-face {
    font-family: "Lato regular";
    src: url(../fonts/Lato_regular.ttf);
}
@font-face {
    font-family: "Lato bolt";
    src: url(../fonts/Lato_bolt.ttf);
}

@font-face {
    font-family: "Lato black";
    src: url(../fonts/Lato_black.ttf);
}

.body {
    font-family: "Lato light", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    height: 109px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #222222;
    font-family: "Lato light", sans-serif;
}

.bran {
    font-family: "Lato light", sans-serif;
    margin-left: 11px;
    margin-top: -1px;
    letter-spacing: 0.7px
}
.D {
    font-family: "Lato black", sans-serif;
    font-weight: bold;
    font-weight: 900;
    color:#f16d7f;
}

.dropbtn {
    display: flex;
    align-items: center;
    height: 38px;
    background-color: #f16d7f;
    color: #222;
    padding: 16px;
    font-family: "Lato regular", sans-serif;
    font-size: 14px;
    border: none;
    line-height: 2.29;
    letter-spacing: 0.35px;
}


.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f16d7f;
}

.dropdown-menu li {
    margin-top: 16px;
    padding-left: 13px;
    list-style-type: none;
    text-align: left;
    font-family: 'Lato', sans-serif;
}

.dropdown-menu li a {
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.35px;
    color: #232323;
    text-decoration: none;
}

.dropdown-menu:hover {
    color: #f16d7f;
}
.browse-menu__caption {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #232323;
    margin-top: 18px;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'Lato', sans-serif;
}

.browse-menu-hr {
    width: 150px;
    height: 1px;
    background-color: #e8e8e8;
    margin: 0;
}

.form-search {
    font-family: "Lato light", sans-serif;
}

.catalog-sex {
    font-weight: 600;
    color: #222222;  
}

.header-form {
    display: flex;
    margin-left: 36px;
    height: 38px;
}

.button-site {
    background-color: #f16d7f;
    padding: 12px 20px;
    font-family: "Lato regular", sans-serif;
}

.my-acc {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 5px;
    
}
.my-acc:hover {
    color: #222222; 
}


.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.menu-link {
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu li a:hover {
    color: #f16d7f;
}

.banner-block {
    height: 100%;
    background: url(../img/banner.jpg) 0 -51px;
}

.banner {
    height: 613px;
    background-color: #e8e8e8;
}

.the-brand {
    color: #222222;
font-size: 70px;
font-weight: 700;
text-transform: uppercase;
        line-height: 45px;
    margin-bottom: 20px;
}


.text-fashion {
    color: #222222;
font-size: 40px;
font-weight: 700;
text-transform: uppercase;
        line-height: 31px;

}

.banner-text {
    margin-top: 224px;
    border-left: 12px solid #f16d7f;
    float: left;
    padding-left: 12px;
}

.span-fashion {
    color: #f16d7f;
}

.things {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 97px;
}

.things-left {
    margin-right: 20px;
}

.things-left-up {
    width: 560px;
    height: 542px;
    margin-bottom: 20px;
    background: url(../img/ForMen.jpg) 1px 1px no-repeat;
}

.things-left-down {
    width: 560px;
    height: 262px;
    background: url(../img/Accesories.jpg) 1px 1px no-repeat;
}

.things-right-up {
    width: 560px;
    height: 261px;
    margin-bottom: 20px;
    background: url(../img/Women.jpg) 1px 1px no-repeat;
}

.things-right-down {
    width: 560px;
    height: 542px;
    background: url(../img/ForKids.jpg) 1px 1px no-repeat;
}

.things-text {
    padding: 0 16px 10px 0;
    background-color: white;
    margin-top: 27px;
    float: left;
}

.things-text-up {
    font-size: 18px;
    font-weight: 900;
    margin-left: 18px;
    margin-top: 12px;
    letter-spacing: 0.6px;
    color: #222222;
}

.things-text-down {
    font-size: 30px;
    font-weight: 900;
    margin-left: 18px;
    margin-top: 2px;
    letter-spacing: 1px;
    color: #f16d7f;
}
.conteinerFutureItem {
    display: flex;
    height: 211px;
    align-items: center;
    justify-content:center;
}

.future {
    text-align: center;
    margin-top: 48px;
    font-family: "Lato bolt", sans-serif;
    font-size: 30px;
    letter-spacing: 0.75px;
    line-height: 0.5;
    color: #222;     
}

.futureText {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.3px;
    color: #9f9f9f;
}

.fastThingBuy {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    background-color: #222;
}

.productWrap {
    width: 262px;
    height: 348px;
    background-color: #fff;
    box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 20px;
}

.productImg {
    width: 100%;
}

.nameAndPriceWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 45px;
    margin-left: 20px;
    box-sizing: border-box;
}

.productName {
    margin-top: 13px;
    font-family: "Lato regular", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: #222222;
    overflow: hidden;
    padding-right: 5px;
    box-sizing: border-box;
}

.productPriceWrap {
    margin-top: 12px;
    font-family: "Roboto bolt", sans-serif;
    color: #f16d7f;
    text-align: right;
    box-sizing: border-box;
}

.actualPrice {
    font-size: 16px;
    max-height: 25px;
}