@font-face {
    font-family: "Lato light";
    src: url(../fonts/Lato_light.ttf);
}

@font-face {
    font-family: "Lato bolt";
    src: url(../fonts/Lato_bolt.ttf);
}

@font-face {
    font-family: "Lato black";
    src: url(../fonts/Lato_black.ttf);
}

@font-face {
    font-family: "Lato regular";
    src: url(../fonts/Lato_regular.ttf);
}

.body {
    font-family: 'Lato_light', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}
.header {
    display: flex;
    height: 109px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}

.header {
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}
.header-right {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #222222;
    font-family: "Lato light", sans-serif;
}

.D {
    font-family: "Lato black", sans-serif;
    font-weight: bold;
    color:#f16d7f;

}

.navbar {
    left: 20px;
}
.catalog-sex {
    font-weight: 600;
    color: #222222;  
}

.btn-outline-success {
    color: #f16d7f;
    border-color: #f16d7f;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #8e9290;
    border-color: #fff;
}

.header-form {
    display: flex;
}

.button-site {
    background-color: #f16d7f;
    padding: 12px 20px;
    font-family: "Lato regular", sans-serif;
}

.my-acc {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 5px;
    
}
.my-acc:hover {
    color: #222222; 
}


.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.menu-link {
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu li a:hover {
    color: #f16d7f;
}

.banner-block {
    height: 100%;
    background: url(../img/banner.jpg) 0 -51px;
}

.banner {
    height: 613px;
    background-color: #e8e8e8;
}

.the-brand {
    color: #222222;
font-size: 60px;
font-weight: 700;
text-transform: uppercase;
        line-height: 45px;
    margin-bottom: 20px;
}


.text-fashion {
    color: #222222;
font-size: 40px;
font-weight: 700;
text-transform: uppercase;
        line-height: 31px;

}

.banner-text {
    margin-top: 224px;
    border-left: 12px solid #f16d7f;
    float: left;
    padding-left: 12px;
}

.span-fashion {
    color: #f16d7f;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.55);
}
@media (min-width: 992px)
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.dropdown-toggle {
    white-space: nowrap;
}
[role=button] {
    cursor: pointer;
}
a {
    color: #0d6efd;
    text-decoration: underline;
}
* {
    margin: 0px;
    padding: 0px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
таблица стилей агента пользователя
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
таблица стилей агента пользователя
li {
    text-align: -webkit-match-parent;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
таблица стилей агента пользователя
ul {
    list-style-type: disc;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
Показать все свойства (ещё 1)
}
*, ::after, ::before {
    box-sizing: border-box;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}